{{!publisher, publish date, and description will be displayed in this file}}

<div class="container" onload = "descriptionCall({{book.title}})">
  <div class="box">
    <div class="product-img">
      <img src="https://lh3.googleusercontent.com/proxy/4jwnJTNF2HqFq5pzyW6C7wIUx1_ooyLQD7mJt8_S8HTeuE68XksDb5m0ISQm5PGLj-RADBoP0Ey9-BW3Thv340G1aWgpYVEoiIUm3A0nXleizIeyoku1M-4ZykFHMI5EKnQ7sw" width="250" alt="Book cover" />
    </div>
    <div class="product-info">
      <h1>{{book.title}}</h1>
      <p class="price">${{book.price}}.00</p>
      <br>
      <p class="description">by {{book.author_name}}</p>
      <br>
      <p class="description">{{book.published_year}}</p>
      <br>
      <p id = "descContainer" class="description" ></p>
      Quantity:
      <select class="color">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      <br /><br />
      <button class = "addBtn" data-author = "{{book.author_name}}" data-title = "{{book.title}}" data-id = "{{book.id}}">ADD TO CART</button>
    </div>
  </div>
</div>






